**/node_modules/
**/.env
**/.env.*
**/*.[pP]ublish[sS]ettings
**/.npm-cache/
**/dist/
**/dist-*/
**/android/
**/ios/
**/.expo/
**/*.log
**/.mysql/
**/.mysql.local.cnf
**/.mysql.init.sql
backend/storage/private/*
!backend/storage/private/.gitkeep
.DS_Store
frontend/.ui-qa/
